@using Microsoft.AspNetCore.Mvc.ModelBinding.Binders
@using Bookish.Controllers
@model Bookish.Models.ListOfBooks

@{
    ViewBag.Title = "Library's Catalogue Display";
}
<meta charset="UTF-8"></meta>
<h2>Library's Catalogue Display &#128512</h2>
<h4>(In order of most searched)</h4>

<hr><a asp-area="" asp-controller="Book" asp-action="AddBook">Add Book</a>
<a asp-area="" asp-controller="Book" asp-action="EditBook">Edit existing Book</a>
<a asp-area="" asp-controller="Book" asp-action="DeleteBook">Delete Book</a></hr>

<div class="row">

    <table style="width:100%">
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Number of total copies</th>
            <th>Number of available copies</th>
            <th>Number of searches</th>
        </tr>
        
        @{
            if (Model.AllBooks.Count >= 1)
            {
                foreach (var eachBook in Model.AllBooks)
                {
       
                    <tr>
                        <td>@eachBook.Id</td>
                        <td>@eachBook.Title</td>
                        <td>@eachBook.Author</td>
                        <td>@eachBook.NumOfCopies</td>
                        <td>@eachBook.NumOfAvailableCopies</td>
                        <td>@eachBook.Searches</td>
                        @*<td>
                            @using(Html.BeginForm("EditBook", "Book", FormMethod.Post))
                            {
                                <input type="hidden" name="book.Id" value="@eachBook.Id"></input>
                                <input type="hidden" name="book.Author" value="@eachBook.Author"></input>
                                <input type="hidden" name="book.Title" value="@eachBook.Title"></input>
                                <td><a asp-area="" asp-controller="Book" asp-action="EditBook" asp->Edit</a></td>
                            }
                            
                        </td>*@

                    </tr>
                }
            }
        }

    </table>
    <p></p>
</div>