@{
    ViewData["Title"] = "Add Book";
}
@model Bookish.Models.BookCopy
<div class="jumbotron">
    <p class="lead">Input a book with information below</p>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("CheckoutBook", "Book", FormMethod.Get))
        {
            <fieldset>

                <legend>Input Id of member checking out this book:</legend>
                @Html.TextBoxFor(m => m.Member.MemberId) 
                @Html.HiddenFor(m => m.Book, new {@Value = @Model.Book})
                @Html.HiddenFor(m => m.Id, new {@Value = @Model.Id})
                <p></p>


                <input type="submit" value="Submit" />
            </fieldset>
        }
    </div>
</div>