@using Microsoft.AspNetCore.Mvc.ModelBinding.Binders
@model Bookish.Models.Member

@{
    ViewBag.Title = "Member Info";
}
<h3>Member Info</h3>

<div class="row">
    <p>Member ID: @Model.MemberId</p>
    <p>Name: @Model.Name </p>
    <p>Email: @Model.Email </p>
    @Html.ActionLink("Edit", "EditMember", new{Model.MemberId}, FormMethod.Get)
    @Html.ActionLink("Delete", "ConfirmDeleteMember", new{Model.MemberId}, FormMethod.Get)
</div>
<br>

<div class="row">
    <h3>Current lendings</h3>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Number of total copies</th>
            <th>Number of available copies</th>
        </tr>

        @{
            foreach (var bookCopy in Model.Books)
            {
                <tr>
                    <td>@bookCopy.Id</td>
                    <td>@bookCopy.Book.Title</td>
                    <td>@bookCopy.Book.Author</td>
                    <td>@bookCopy.Book.NumOfCopies</td>
                    <td>@bookCopy.Book.NumOfAvailableCopies</td>
                </tr>
            }
        }
    </table>
</div>
    
    
  

